#
# Copyright (c) 2018 Jan Van Winkel <jan.van_winkel@dxplore.eu>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig LVGL
	bool "LittlevGL GUI library"
	help
	  This option enables the LittlevGL GUI library.

if LVGL

choice LVGL_VERSION
	prompt "LittlevGL GUI library API Version"
	default LVGL_V6
	help
	  LittlevGL GUI library API Version

config LVGL_V5
	bool "API Version 5"

config LVGL_V6
	bool "API Version 6"

endchoice # LVGL_VERSION

rsource "lvgl_common/Kconfig"

endif # LVGL
