#
# Copyright (c) 2018 Jan Van Winkel <jan.van_winkel@dxplore.eu>
#
# SPDX-License-Identifier: Apache-2.0
#

choice LVGL_VERSION
	prompt "LittlevGL GUI library API Version"
	default LVGL_V5
	help
	  LittlevGL GUI library API Version

	config LVGL_V5
		bool "API Version 5"

endchoice

if LVGL_V5

rsource "lvgl_v5/Kconfig"

endif # LVGL_V5
