#
# Copyright (c) 2019 Jan Van Winkel <jan.van_winkel@dxplore.eu>
#
# SPDX-License-Identifier: Apache-2.0
#

config ZLSAN
	bool "Build with Zephyr memory leak sanitizer"
	depends on ARCH_POSIX && ($(ZEPHYR_TOOLCHAIN_VARIANT) = "llvm")
	depends on BACKWARD_CPP
	help
	  Build with Zephyr specific memory leak sanitizer.
	  This is currently only supported by the native_posix port and requires
	  a llvm toolchain.

if ZLSAN

config ZLSAN_EXIT_CODE
	int "ZLSAN exit code"
	default 10
	help
	  Exit code to be used when one or more errors are detected by ZLSAN

endif # ZLSAN
