#
# Copyright (c) 2019 Jan Van Winkel <jan.van_winkel@dxplore.eu>
#
# SPDX-License-Identifier: Apache-2.0
#

if LVGL_V5

config LVGL_VDB_STATIC
	bool "Statically allocate virtual display buffer"
	default y
	help
	  Statically allocate virtual display buffer. If disabled pointer should be
	  passed via lv_vdb_set_adr().

if LVGL_DOUBLE_VDB
config LVGL_TRUE_DOUBLE_BUFFERED
	bool "True double buffered"
	help
	  Use true double buffering, VDB size will be set to 100%.
endif

config LVGL_INPUT_MARK_PRESSED_POINTS
	bool "Mark pressed points"
	depends on LVGL_DIRECT_DRAW
	help
	  Mark the pressed points on the screen.

config LVGL_UTF_8
	bool "Enable UTF-8 support"
	default y
	help
	  Enable UTF-8 support


config LVGL_TEXT_BREAK_LONG_WORD_SIZE
	int "Long word size for text break"
	default 12
	help
	  Number of characters in a word before considering a word for a text break

config LVGL_TEXT_BREAK_LONG_WORD_PRE_MIN_LEN
	int "Minimum long word length before text break"
	default 3
	help
	  Minimum number of characters of a long word that should be put before a
	  break

config LVGL_TEXT_BREAK_LONG_WORD_POST_MIN_LEN
	int "Minimum long word length after text break"
	default 1
	help
	  Minimum number of characters of a long word that should be placed after a
	  break

config LVGL_DIRECT_DRAW
	bool "Enable direct draw"
	default y
	help
	  Enable direct draw support.
	  Direct draw bypasses virtual display buffer and directly writes to
	  frame buffer

config LVGL_MULTI_LANGUAGE
	bool "Multi language support"
	help
	  Enable multi language support

if LVGL_MULTI_LANGUAGE
config LVGL_NBR_OF_LANGUAGES
	int "Number of languages"
	default 1
	help
	  Number of languages to support
endif

config LVGL_VLA_SUPPORT
	bool "Enable variable length array support"
	default y
	help
	  Enable variable length array support

config LVGL_COMPILER_NON_CONST_INIT_SUPPORTED
	bool "Enable non constant init"
	default y
	help
	  Indicate if initialization with non constant values is supported

endif # LVGL_V5
